@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-size: 16px;
}
.container{
    width: 34rem;
    height: 46rem;
    left: 43rem;
    top: 8rem;
    padding:0;
    background: #1F2937;
    text-align: center;
}
.convert-unit{
    height: 18rem;
    background: #6943FF;
}

input{
    display: block;
}
.units{
    height: 7rem;
    width: 31rem;
    height: 108.57px;
    left: 1.5rem;
    top: 20rem;
    background: #273549;
    margin: 2rem auto;
    padding-top: 1.5rem;
    text-align: center;
    color: #CCC1FF
}
p{
    display: inline-block;
}
.big-square-input{
    width: 8rem;
    height: 5rem;
    border: 2px solid #B295FF;
    border-radius: 5px; 
    padding: 0.5rem;
    font-size: 5rem;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color:  #FFFFFF;
    background-color: #6943FF;
}
/* hide the increment and decrement arrows on the input */
    .big-square-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

.btn{
    display: inline-block;
    padding: 0.5rem;
    margin: 1rem;
    background: #FFFFFF;    
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 8rem;
    height: 3.5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}